html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #444;
    overflow: hidden;
}

#mapDiv {
    position: absolute;
    top: 0;
    left: 0;
    right: 45px;
    bottom: 0;
    margin: 0;
    padding: 0; 
}

.alert {
    position: absolute;
    bottom: 10px;
    right: 55px;
    z-index: 2000;
}

/* #mapDiv_zoom_slider {
    display: none;
} */

/* Styles for Tile Selection Panel */
#tile-selection-control-panel{
    position: absolute;
    height: 30px;
    line-height: 30px;
    z-index: 100;
    background-color: rgba(0,0,0,0.75);

    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.training-results-panel-visible #tile-selection-control-panel {
    display: none;
}

#opacity-slider-container {
    width: 100px;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 90px;

    display:flex;
    align-items:center;
    /* background-color: #123456; */
}

#opacity-slider {
    width: 100%;
    max-width: 120px;
    height: 5px;
    padding: 0;
    margin: 0 5px;
}

#output-types-btns-container {
    width: 150px;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50px;
    /* background-color: #987654; */
}

#output-types-btns-container .icon-span {
    opacity: .5;
}

#output-types-btns-container .icon-span.is-active {
    opacity: 1;
}

#close-tile-selection-btn {
    width: 25px;
    height: 100%;
}
/* END of Styles for Tile Selection Panel */


/*  Style for Floating Traning Panel */
#training-menu-container {
    position: absolute;
    top: 25px;
    right: 65px;
    width: 350px;
    min-height: 100px;
    background-color: rgba(0,0,0,0.75);
    color: #a9a9a9;
    z-index: 1000;
}

.training-results-panel-visible #training-menu-container{
    display: none;
}

#map-control-items-wrap {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}

#training-image-container {
    position: relative;
    background-color: rgba(0,0,0,0.1);
    width: 100%;
    height: 350px;
    text-align: center;
    line-height: 350px;
}

#loader-for-landcover-image-request {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    line-height: 10px;
}

#training-image-square-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 350px;
}

#training-image-square-div > * {
    position: absolute;
    top: 0;
    left: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#training-image {
    width: 350px;
    height: 350px;
}

#training-image-grid {
    display: flex;
    flex-wrap: wrap;
}

#training-image-grid > div.grid-cell {
    /* width: 25%; */
    background-color: rgba(0,0,0,0.3);
    z-index: 1000;
    margin: -1px;
    border: 1px solid rgba(120,120,120,0.2);
    cursor: pointer;
}

#training-image-grid > div.grid-cell:hover {
    background-color: rgba(0,0,0,0);
}

#training-image-grid > div.grid-cell.active {
    background-color: rgba(0,0,0,0);
}

#adjustment-sliders-container {
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}

#adjustment-sliders-container > div {
    flex-basis: 80px;
    flex-grow: 1;
    flex-shrink: 0;
}

#adjustment-sliders-legend-container {
    height: 70px;
    width: 100%;
}

#adjustment-sliders-legend-container > div {
    width: 100%;
    height: 33.33%;
    /* background-color: #efefef; */
}

.adjustment-sliders-legend span.plus{
    margin-left: 3px;
}

.adjustment-sliders-legend span.minus {
    margin-left: 6px;
}

.adjustment-sliders-legend span.unchange  {
    margin-left: 10px;
}

#adjustment-sliders-container > div.adjustment-slider-div {
    flex-basis: 70px;
}

.adjustment-slider {
    width: 100%;
    height: 70px;
    display:flex;
    justify-content:center;
    align-items:center;
}

input.customized-slider{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical;
    width: 5px;
    height: 100%;
}

.slider-label-div {
    width: 100%;
    text-align: center;
}

/* .slider-label-div.water {
    color: rgba(0,0,255,1);
}

.slider-label-div.forest {
    color: rgba(0,128,0,1);
}

.slider-label-div.field {
    color: rgba(128,255,128,1);
}

.slider-label-div.build {
    color: rgba(128,96,96,1);
} */

.location-search-input-wrap {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}

.location-search-input-wrap > input {
    background-color: #595959;
    border: 1px solid #6e6e6e;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #959595;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #959595;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #959595;
}
:-moz-placeholder { /* Firefox 18- */
    color: #959595;
}

.control-btn {
    line-height: 38.25px;
    width: 40px;
    text-align: center;
    color: #a9a9a9;
    background-color: #595959;
    border: solid 1px #6e6e6e;
}

.control-btn.is-active {
    color: #efefef;
    font-weight: 500;
}

.submit-training-data-btn {
    color: #ccc;
    background-color: #595959;
    border: solid 1px #6e6e6e;
    width: 100%;
    height: 40px;
}

.narrow-divider-line {
    margin: .75rem 0;
    border-top: 1px solid #6e6e6e;
}

.panel-transparent {
    background-color: rgba(0,0,0,0);
}

a.is-active {
    color: #efefef;
    font-weight: 500;
}

.inline-span-wrap > span {
    display: inline-block;
    vertical-align: middle;
}

.icon-span {
    width: 15px;
    height: 15px;
}

.classified-output-icon {
    background: url(../assets/classified-icon.png) center center no-repeat;
    background-size: cover;
}

.confidence-output-icon {
    background: url(../assets/confidence-icon.png) center center no-repeat;
    background-size: cover;
}

.pseudo-divider::after {
    content: '|';
    font-weight: 400;
    padding: 0 .5rem 0 .25rem;
    display: inline-block;
}

/*  END of Styles for Floating Traning Panel */

/* side nav bar style*/
    #side-nav-bar {
        position: absolute;
        width: 45px;
        height: 100%;
        right: 0;
        top: 0;
        background-color: rgba(0,0,0,0.9);
    }

    .nav-btn-div {
        position: absolute;
        top: 25px;
        width: 45px;
        height: 40px;
        color: #ccc;
        text-align: center;
    }

    .nav-btn-div .show-training-results-btn {
        display: unset;
    }

    .nav-btn-div .hide-training-results-btn {
        display: none;
    }

    .nav-btn-div:before {
        content: attr(data-num);
        display: block;
        position: absolute;
        top: 2px;
        left: -10px;
        width: 20px;
        height: 20px;
        background-color: #ccc;
        line-height: 20px;
        text-align: center;
        border-radius: 50px;
        color: #000;
        border: .5px solid rgba(100,100,100,0.75);
        font-size: .625rem;
    }

    .training-results-panel-visible .nav-btn-div .show-training-results-btn {
        display: none;
    }

    .training-results-panel-visible .nav-btn-div .hide-training-results-btn {
        display: unset;
    }

    .training-results-panel-visible .nav-btn-div:before  {
        display: none;
    }

/* end of side nav bar style*/

/* training-results-panel style*/
    #training-results-panel {
        /* position: absolute;
        top: 0;
        left: 0;
        right: 45px;
        bottom: 0; */
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.9);
        display: none;
        color: #ccc;
        z-index: 1000;
    }

    .training-results-panel-visible #training-results-panel {
        display: unset;
    }

    .stick-to-top-right {
        position: absolute;
        top: 10px;
        right: 30px;
    }

    #training-results-panel hr {
        margin: .75rem 0 2rem;
    }

    .training-location-images-wrap {
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;
    }

    .training-location-images-wrap > div {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 100px;
        padding-top: 40%;
    }

/* training-results-panel style*/

.font-size--4 {
    font-size: 0.6525rem;
}

.mouse-pointer {
    cursor: pointer;
}